@import "../public/fonts/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* _______________________________________________________________________css tag styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: "vazir";
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--background-app-rgb));
  direction: rtl;
  background-color: #22222e;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: none; */
  outline: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  outline: none;
}
button:disabled {
  cursor: default;
  background-color: rgb(var(--color-secondary-100), 0.5);
  pointer-events: none;
  box-shadow: none;
}
label {
  display: block;
}
input {
  direction: rtl;
}
/* _______________________________________________________________________css class styles */
.custom-gradient {
  background: rgb(34, 34, 46);
  background: linear-gradient(
    135deg,
    rgb(32, 32, 45) 68%,
    rgba(62, 36, 83) 100%
  );
}
.custom-gradient2 {
  background: rgb(34, 34, 46);
  background: linear-gradient(
    135deg,
    rgba(34, 34, 46, 1) 54%,
    rgb(62, 36, 83) 100%
  );
}
.header-gradient {
  background: rgb(62, 42, 83);
  background: linear-gradient(
    335deg,
    rgba(62, 42, 83, 1) 0%,
    rgba(32, 32, 45, 1) 30%,
    rgba(34, 32, 48, 1) 70%,
    rgba(62, 42, 83, 1) 100%
  );
}
.cart-gradient {
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.calc-width {
  width: calc(100vw - 100px);
}
.sidebar {
  backdrop-filter: blur(30px) saturate(2);
  -webkit-backdrop-filter: blur(30px) saturate(2);
  overflow-y: auto;
  overflow-x: hidden;
  transition: 1s all ease-in-out;
}
/* .custom-bg{
  background-image: url(../public/OIP.jfif);
  height: 50vh;
  
} */
/* ______________________________________________________________________________components */

@layer components {
  .btn-full {
    @apply w-full rounded-xl p-3 text-secondary-100 bg-secondary-900 text-xl hover:shadow-inner shadow-md duration-300 shadow-black hover:shadow-black;
  }
  .btn__secondary {
    @apply bg-secondary-600 text-secondary-100;
  }
  .btn__danger {
    @apply border py-3 border-rose-700 text-rose-700;
  }
  .sideItem__primary {
    @apply bg-purple-700 bg-opacity-70 text-slate-200 w-full rounded-xl px-4 py-2 hover:bg-purple-800 hover:bg-opacity-90 cursor-pointer duration-250;
  }
  .activeItem__primary {
    @apply bg-purple-800 bg-opacity-90 text-slate-200 w-full rounded-xl px-4 py-2 cursor-pointer duration-250;
  }
  .icon {
    @apply w-5 h-5;
  }
  .input {
    @apply p-3 outline-none  rounded-xl bg-primary-900 shadow-md focus:shadow-inner focus:shadow-black shadow-slate-950 text-secondary-200;
  }
  .header {
    @apply w-full h-16 shadow-sm shadow-slate-900 flex justify-between items-center px-4 text-secondary-200 gap-4 fixed top-0;
  }
}
/* ---------------------------------------------------------------------------------------------------------------------------animations */

/*? ---------------------------------------------------------------------------------------------------------------------------water */
.water {
  margin: auto;
  position: relative;
}

.water::before {
  content: "";
  width: 1301px;
  height: 1301px;
  background: #c33764;
  background: -webkit-linear-gradient(to right, #1d2671, #c33764);
  background: linear-gradient(to right, #1d2671, #c33764);
  /* background-color: #60a5fa; */
  position: absolute;
  top: 34%;
  left: -140%;
  border-radius: 46%;
  animation: anim 10s linear infinite;
}

.water::after {
  content: "";
  width: 1300px;
  height: 1300px;
  background-color: #22222e;
  position: absolute;
  top: 34%;
  left: -140%;
  border-radius: 46%;
  animation: anim 10s linear infinite;
  animation-delay: 0.5s;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*? ---------------------------------------------------------------------------------------------------------------------------Burger Menu */

.leanerOpenMenu {
  right: -100vw;
  animation: leanerOpenMenu 1s linear;
}
.leanerCloseMenu {
  right: 0;
  animation: leanerCloseMenu 1s linear;
}
.slowShow {
  animation: slowShow 0.6s linear;
}

@keyframes leanerOpenMenu {
  0% {
    right: -100vw;
  }
  80% {
    right: 40px;
  }
  100% {
    right: 0;
  }
}
@keyframes leanerCloseMenu {
  0% {
    right: 0;
  }
  20% {
    right: 40px;
  }
  100% {
    right: -100vw;
  }
}
@keyframes slowShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 50%;
  }
}
